.container-news {
  background-color: #f8f8f8;
  padding-bottom: 40px;
}

.newsletter-section {
  background-color: #fff;
  color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  padding: 0 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  
}

.input-form {
  text-align: center;
}

h2 {
  font-size: 24px;
  margin: 10px 0;
}

p {
  font-size: 18px;
  margin-bottom: 10px;
}

Form {
    width: 100%;
  }
  
  Button {
    margin-top: 10px;
} 